@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply outline-none;
	/* outline: none; */
}

body {
	@apply text-zinc-800 dark:bg-zinc-800 dark:text-zinc-100;
}

select {
	-webkit-appearance: none;
	appearance: none;
}

.input-box {
	@apply w-full rounded border-b-2 border-transparent bg-white px-4 pb-2 pt-6 text-black [&_+_span]:bg-red-500;
}

.input-email-focus {
	@apply top-4 text-xs transition-all;
}

.checkbox {
	@apply relative left-5 flex cursor-pointer select-none items-center justify-center text-xs text-[#b3b3b3];
}

.checkbox::after,
.checkbox::before {
	content: "";
	@apply absolute right-full top-1/2 aspect-square h-full -translate-x-1 -translate-y-1/2 rounded-sm bg-[#737373] bg-center bg-no-repeat;
	background-size: 80%;
}

.checkbox-on::after {
	background-image: url("/public/icons/checkbox-tick.svg");
}

.sign-in-error-input + span.error {
	@apply block w-full p-[2px] text-xs text-[#e87c03] content-[attr(data-error-message)];
}

.sign-up-error-message::after {
	content: attr(data-error-message);
	@apply absolute left-0 top-full h-fit w-full cursor-auto text-sm font-medium text-red-500;
}

@media screen and (min-width: 408px) and (max-width: 639px) {
	.footer .footer-links {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

li.marker::marker {
	/* @apply text-netflix-red; */
}

.family {
	/* font-family: Arial, Helvetica, sans-serif; */
}

.spinner .t {
	animation: t 1.5s ease-out infinite;
}

.spinner .r {
	animation: r 1.5s ease-out infinite;
}
.spinner .b {
	animation: b 1.5s ease-out infinite;
}
.spinner .l {
	animation: l 1.5s ease-out infinite;
}

@keyframes t {
	0% {
		top: 0%;
		left: 0%;
	}
	50% {
		top: 20%;
		left: 20%;
	}
	100% {
		top: 0%;
		left: 0%;
	}
}

@keyframes r {
	0% {
		top: 0%;
		right: 0%;
	}
	50% {
		top: 20%;
		right: 20%;
	}
	100% {
		top: 0%;
		right: 0%;
	}
}

@keyframes b {
	0% {
		bottom: 0%;
		right: 0%;
	}
	50% {
		bottom: 20%;
		right: 20%;
	}
	100% {
		bottom: 0%;
		right: 0%;
	}
}

@keyframes l {
	0% {
		bottom: 0%;
		left: 0%;
	}
	50% {
		bottom: 20%;
		left: 20%;
	}
	100% {
		bottom: 0%;
		left: 0%;
	}
}

.type > div {
	@apply text-white;
}

.plan-container :not(:is(.type)) > ul {
	@apply text-zinc-500 dark:text-zinc-400;
}

.type .premium {
	background: linear-gradient(
			318.25deg,
			rgb(229, 9, 20) 0%,
			rgba(74, 42, 150, 0.5) 92.16%,
			rgba(74, 42, 150, 0) 109.15%
		),
		rgb(29, 82, 157);
}
.type:has(.premium) li.marker::marker {
	@apply text-netflix-red;
}

.type .standard {
	background: linear-gradient(
			318.25deg,
			rgb(176, 56, 220) 0%,
			rgba(74, 42, 150, 0.5) 92.16%,
			rgba(74, 42, 150, 0) 109.15%
		),
		rgb(29, 82, 157);
}
.type:has(.standard) li.marker::marker {
	@apply text-[#b038dc];
}

.type .basic {
	background: linear-gradient(
			318.25deg,
			rgb(109, 59, 227) 0%,
			rgba(74, 42, 150, 0.5) 92.16%,
			rgba(74, 42, 150, 0) 109.15%
		),
		rgb(29, 82, 157);
}
.type:has(.basic) li.marker::marker {
	@apply text-[#6d3be3];
}

.type .mobile {
	background: linear-gradient(
			318.25deg,
			rgb(33, 114, 227) 0%,
			rgba(74, 42, 150, 0.5) 92.16%,
			rgba(74, 42, 150, 0) 109.15%
		),
		rgb(29, 82, 157);
}
.type:has(.mobile) li.marker::marker {
	@apply text-[#2172e3];
}

.type img {
	@apply mr-2 w-5;
	animation: scale 150ms ease 1;
}

@keyframes scale {
	from {
		@apply mr-0 w-0;
		/* transform: scale(0); */
	}
	to {
		@apply mr-2 w-5;
		/* transform: scale(1); */
	}
}
