@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply outline-none;
	/* outline: none; */
}

:root {
	--premium: linear-gradient(
			318.25deg,
			rgb(229, 9, 20) 0%,
			rgba(74, 42, 150, 0.5) 92.16%,
			rgba(74, 42, 150, 0) 109.15%
		),
		rgb(29, 82, 157);

	--standard: linear-gradient(
			318.25deg,
			rgb(176, 56, 220) 0%,
			rgba(74, 42, 150, 0.5) 92.16%,
			rgba(74, 42, 150, 0) 109.15%
		),
		rgb(29, 82, 157);

	--basic: linear-gradient(
			318.25deg,
			rgb(109, 59, 227) 0%,
			rgba(74, 42, 150, 0.5) 92.16%,
			rgba(74, 42, 150, 0) 109.15%
		),
		rgb(29, 82, 157);

	--mobile: linear-gradient(
			318.25deg,
			rgb(33, 114, 227) 0%,
			rgba(74, 42, 150, 0.5) 92.16%,
			rgba(74, 42, 150, 0) 109.15%
		),
		rgb(29, 82, 157);
}

html {
	scrollbar-gutter: stable;
}

body {
	@apply bg-zinc-100 text-zinc-800 dark:bg-zinc-900 dark:text-zinc-100;
}

.scrollbar-none::-webkit-scrollbar {
	width: 0;
	height: 0;
}
select {
	-webkit-appearance: none;
	appearance: none;
}

.sun {
	background-image: url("/public/icons/sun.svg");
}

.moon {
	background-image: url("/public/icons/moonnew.svg");
}

.input-box {
	@apply w-full rounded border-b-2 border-transparent bg-white px-4 pb-2 pt-6 text-black [&_+_span]:bg-red-500;
}

.input-email-focus {
	@apply top-4 text-xs transition-all;
}

.checkbox {
	@apply relative left-5 flex cursor-pointer select-none items-center justify-center text-xs text-[#b3b3b3];
}

.checkbox::after,
.checkbox::before {
	content: "";
	@apply absolute right-full top-1/2 aspect-square h-full -translate-x-1 -translate-y-1/2 rounded-sm bg-[#737373] bg-center bg-no-repeat;
	background-size: 80%;
}

.checkbox-on::after {
	filter: contrast(100);
	background-image: url("/public/icons/checkbox-tick.svg");
}

@media screen and (min-width: 408px) and (max-width: 639px) {
	.footer .footer-links {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.type > div {
	@apply text-white;
}

.plan-container :not(:is(.type)) > ul {
	@apply text-zinc-500 dark:text-zinc-400;
}

.type .premium {
	background: var(--premium);
}
.type:has(.premium) li.marker::marker {
	@apply text-netflix-red;
}

.type .standard {
	background: var(--standard);
}
.type:has(.standard) li.marker::marker {
	@apply text-[#b038dc];
}

.type .basic {
	background: var(--basic);
}
.type:has(.basic) li.marker::marker {
	@apply text-[#6d3be3];
}

.type .mobile {
	background: var(--mobile);
}
.type:has(.mobile) li.marker::marker {
	@apply text-[#2172e3];
}

.type img {
	@apply mr-2 w-5;
	animation: scale 150ms ease 1;
}

@keyframes scale {
	from {
		@apply mr-0 w-0;
	}
	to {
		@apply mr-2 w-5;
	}
}

.mask-light {
	-webkit-mask: linear-gradient(
		rgb(0, 0, 0) 60%,
		rgb(0, 0, 0) 70%,
		rgba(255, 255, 255, 0.6) 80%,
		transparent
	);
	mask: linear-gradient(
		rgb(0, 0, 0) 14%,
		rgb(0, 0, 0) 54%,
		rgba(255, 255, 255, 0.6) 80%,
		transparent
	);
}

:is(.dark .dark\:mask-dark) {
	-webkit-mask: linear-gradient(
		rgb(39 39 42) 14%,
		rgb(39 39 42) 54%,
		rgba(255, 255, 255, 0.6) 80%,
		transparent
	);
	mask: linear-gradient(
		rgb(39 39 42) 14%,
		rgb(39 39 42) 54%,
		rgba(255, 255, 255, 0.6) 80%,
		transparent
	);
}

div.movie-info {
	@apply relative aspect-video h-full w-52 cursor-pointer overflow-hidden rounded-sm md:w-56 [&:hover_:last-child]:visible;
}

div.movie-info img.movie-image {
	@apply h-full w-full;
}
div.movie-info div.movie-title-div {
	@apply absolute bottom-0 left-0 w-full bg-gradient-to-b from-transparent to-zinc-900;
}

div.movie-info div.movie-title-div p.movie-title-p {
	@apply m-2 !line-clamp-1 text-sm font-bold;
}

div.movie-info div.extra-button-wrapper-div {
	@apply invisible absolute left-0 top-0 flex h-full w-full items-center justify-center bg-black bg-opacity-30 backdrop-blur-[1px];
}

div.movie-info div.extra-button-wrapper-div div.extra-button-inner-div {
	@apply mx-auto flex w-[45%] items-center gap-4;
}
div.movie-info
	div.extra-button-wrapper-div
	div.extra-button-inner-div
	div.extra-button-left-div {
	@apply w-1/2;
}

div.movie-info
	div.extra-button-wrapper-div
	div.extra-button-inner-div
	div.extra-button-left-div
	img.info-icon-img {
	@apply mx-auto rounded-full p-2 hover:backdrop-brightness-75;
}

div.movie-info
	div.extra-button-wrapper-div
	div.extra-button-inner-div
	div.extra-button-right-div {
	@apply w-1/2 rounded-full p-2 hover:backdrop-opacity-75;
}
